@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body span,
body strong {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body button {
  font-family: 'Poppins', sans-serif;
}
.burger__display {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 10px;
  background-color: #3b3054;
  text-align: center;
}
@media screen and (min-width: 415px) {
  .burger__display {
    display: none;
  }
}
.burger__display li {
  list-style: none;
  font-weight: 800;
  color: #f5f5f5;
  margin: 25px 0;
}
.burger__display .burger__divider {
  width: 100%;
  background-color: #9e9aa7;
  opacity: 0.5;
  height: 2px;
}
.burger__display button {
  background-color: #2acfcf;
  color: #f5f5f5;
  padding: 10px 75px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 30px;
}
.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}
.navbar .burger__menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 415px) {
  .navbar .burger__menu {
    display: unset;
  }
}
.navbar .burger__menu .shape {
  width: 25px;
  height: 3px;
  background-color: #9e9aa7;
  margin: 5px 0;
}
.navbar .navbar__l {
  display: flex;
  align-items: center;
}
.navbar .navbar__l .navbar__logo {
  color: #232127;
  font-size: 30px;
  cursor: pointer;
}
.navbar .navbar__l ul li {
  display: inline-block;
  list-style: none;
}
.navbar .navbar__l li {
  padding-left: 30px;
  color: #9e9aa7;
  cursor: pointer;
}
.navbar .navbar__l li:active {
  color: #232127;
}
.navbar .navbar__navigation {
  color: #232127;
  padding-left: 20px;
  margin: 0;
}
@media screen and (max-width: 415px) {
  .navbar .navbar__navigation {
    display: none;
  }
}
.navbar .navbar__r .navbar__login,
.navbar .navbar__r .navbar__signup {
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
}
@media screen and (max-width: 415px) {
  .navbar .navbar__r .navbar__login,
  .navbar .navbar__r .navbar__signup {
    display: none;
  }
}
.navbar .navbar__r .navbar__signup {
  background-color: #2acfcf;
  color: #f5f5f5;
}
.navbar .navbar__r .navbar__signup:active {
  background-color: #9de3e2;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 100px auto 0 auto;
}
@media screen and (max-width: 1500px) {
  .main {
    padding: 0 20px;
    max-width: unset;
  }
}
.main .main__landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1195px) {
  .main .main__landing {
    flex-direction: column;
  }
}
@media screen and (max-width: 1195px) {
  .main .main__landing .main__img {
    margin-top: 50px;
  }
}
@media screen and (max-width: 760px) {
  .main .main__landing .main__img img {
    width: 100%;
  }
}
.main .main__landing .main__text {
  color: #232127;
}
@media screen and (max-width: 1195px) {
  .main .main__landing .main__text {
    text-align: center;
  }
}
.main .main__landing .main__text h1 {
  font-size: 65px;
  max-width: 500px;
  line-height: 1.2;
}
.main .main__landing .main__text h5 {
  font-size: 17px;
  color: #9e9aa7;
  font-weight: 500;
  max-width: 450px;
}
.main .main__landing .main__text button {
  background-color: #2acfcf;
  color: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 25px;
  cursor: pointer;
}
.main .main__landing .main__text button:active {
  background-color: #9de3e2;
}
.main .main__input {
  margin-top: 40px;
  width: 100%;
  background: url("../../public/images/bg-boost-desktop.svg") #3b3054 no-repeat;
  background-size: cover;
  padding: 50px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 415px) {
  .main .main__input {
    background: url("../../public/images/bg-boost-mobile.svg") #3b3054 no-repeat;
  }
}
@media screen and (max-width: 1300px) {
  .main .main__input {
    width: 100%;
    padding: 50px 20px;
  }
}
@media screen and (max-width: 1090px) {
  .main .main__input {
    padding: 20px 0px;
  }
}
.main .main__input .input__wrapper {
  display: flex;
}
@media screen and (max-width: 1090px) {
  .main .main__input .input__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.main .main__input .input__wrapper .input input {
  width: 1000px;
  outline: none;
  border: none;
  padding: 15px 0;
  border-radius: 10px;
  padding-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
@media screen and (max-width: 1265px) {
  .main .main__input .input__wrapper .input input {
    width: 60.051vw;
  }
}
.main .main__input .input__wrapper input::placeholder {
  color: #9e9aa7;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.main .main__input .input__wrapper .error {
  border: 1px solid #f46262;
}
.main .main__input .input__wrapper .error:nth-child(2) {
  border: unset;
  display: block;
}
.main .main__input .input__wrapper p {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #f46262;
  display: none;
}
.main .main__input .input__wrapper button {
  white-space: nowrap;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #f5f5f5;
  background-color: #2acfcf;
  max-height: 53px;
  border: none;
  outline: none;
  margin-left: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1090px) {
  .main .main__input .input__wrapper button {
    margin: 0;
    margin-top: 20px;
    width: fit-content;
  }
}
.main .main__input .input__wrapper button:active {
  background-color: #9de3e2;
}
.main .shortened__list {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
.main .shortened__list .shortened__wrapper {
  padding: 10px 30px;
  background-color: #F1F0F6;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1090px) {
  .main .shortened__list .shortened__wrapper {
    flex-direction: column;
    overflow: hidden;
  }
}
.main .shortened__list .shortened__wrapper .shortened__original {
  color: #232127;
}
@media screen and (max-width: 1090px) {
  .main .shortened__list .shortened__wrapper .shortened__original {
    text-align: center;
  }
}
.main .shortened__list .shortened__wrapper .shortened__l {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1090px) {
  .main .shortened__list .shortened__wrapper .shortened__l {
    flex-direction: column;
    margin-top: 10px;
  }
  .main .shortened__list .shortened__wrapper .shortened__l button {
    margin-top: 10px;
  }
}
.main .shortened__list .shortened__wrapper .shortened__l .shortened__active {
  color: #2acfcf;
}
.main .shortened__list .shortened__wrapper .shortened__l .shortened__copy {
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: capitalize;
  color: #f5f5f5;
  background-color: #2acfcf;
  border: none;
  outline: none;
  margin-left: 25px;
  cursor: pointer;
}
.main .shortened__list .shortened__wrapper .shortened__l .copied {
  background-color: #3b3054;
}
.beforeFooter {
  width: 100%;
  background-color: #f1f0f6;
  padding-bottom: 100px;
}
.beforeFooter .beforeFooter__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.beforeFooter .beforeFooter__main .adv__text {
  text-align: center;
}
.beforeFooter .beforeFooter__main .adv__text h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 35px;
}
.beforeFooter .beforeFooter__main .adv__text h5 {
  margin-top: 10px;
  max-width: 430px;
  color: #9e9aa7;
  font-weight: 500;
}
.beforeFooter .beforeFooter__main .adv__divider {
  border: unset;
  width: 100%;
  height: 5px;
  background-color: #2acfcf;
  position: absolute;
  top: 70%;
  z-index: 10;
}
@media screen and (max-width: 1025px) {
  .beforeFooter .beforeFooter__main .adv__divider {
    display: none;
  }
}
@media screen and (max-width: 815px) {
  .beforeFooter .beforeFooter__main .adv__divider {
    display: unset;
    top: 65%;
    width: 82.945vw;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 585px) {
  .beforeFooter .beforeFooter__main .adv__divider {
    top: 60%;
  }
}
@media screen and (max-width: 495px) {
  .beforeFooter .beforeFooter__main .adv__divider {
    width: 100vw;
  }
}
@media screen and (max-width: 420px) {
  .beforeFooter .beforeFooter__main .adv__divider {
    width: 200vw;
  }
}
.beforeFooter .beforeFooter__main .adv__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 20;
}
@media screen and (max-width: 1025px) {
  .beforeFooter .beforeFooter__main .adv__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box {
  background-color: #f5f5f5;
  padding: 0 30px 40px 30px;
  border-radius: 10px;
}
@media screen and (max-width: 1025px) {
  .beforeFooter .beforeFooter__main .adv__wrapper .adv__box {
    margin: 0 35px;
    margin-top: 70px;
  }
}
@media screen and (max-width: 415px) {
  .beforeFooter .beforeFooter__main .adv__wrapper .adv__box {
    text-align: center;
  }
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box .adv__logo {
  top: -40px;
  width: fit-content;
  border-radius: 50%;
  background-color: #3b3054;
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  position: relative;
}
@media screen and (max-width: 415px) {
  .beforeFooter .beforeFooter__main .adv__wrapper .adv__box .adv__logo {
    left: 56%;
    transform: translateX(-67%);
  }
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box .adv__logo svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box h4 {
  text-transform: capitalize;
  color: #232127;
  font-size: 20px;
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box p {
  margin-top: 20px;
  max-width: 270px;
  color: #9e9aa7;
  font-weight: 500;
  font-size: 14px;
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box:nth-child(2) {
  margin-top: 50px;
}
@media screen and (max-width: 1025px) {
  .beforeFooter .beforeFooter__main .adv__wrapper .adv__box:nth-child(2) {
    margin-top: 70px;
  }
}
.beforeFooter .beforeFooter__main .adv__wrapper .adv__box:nth-child(3) {
  margin-top: 100px;
}
@media screen and (max-width: 1025px) {
  .beforeFooter .beforeFooter__main .adv__wrapper .adv__box:nth-child(3) {
    margin-top: 70px;
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__up {
  background: url("../../public/images/bg-boost-desktop.svg") #3b3054 no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
@media screen and (max-width: 415px) {
  .footer .footer__up {
    background: url("../../public/images/bg-boost-mobile.svg") #3b3054 no-repeat;
  }
}
.footer .footer__up h1 {
  color: #f5f5f5;
}
.footer .footer__up button {
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 25px;
  text-transform: capitalize;
  color: #f5f5f5;
  background-color: #2acfcf;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}
.footer .footer__up button:active {
  background-color: #9de3e2;
}
.footer .footer__down {
  width: 100%;
  background-color: #232127;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 680px) {
  .footer .footer__down {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer__down .footer__l {
  color: #f5f5f5;
  margin-left: 90px;
  padding: 50px 0;
  padding-left: 10px;
}
@media screen and (max-width: 1130px) {
  .footer .footer__down .footer__l {
    margin-left: unset;
  }
}
@media screen and (max-width: 355px) {
  .footer .footer__down .footer__l {
    padding: 30px 0;
  }
}
.footer .footer__down .footer__r {
  display: flex;
  margin-right: 100px;
  padding: 50px 0;
}
@media screen and (max-width: 355px) {
  .footer .footer__down .footer__r {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 30px 0;
  }
}
@media screen and (max-width: 1130px) {
  .footer .footer__down .footer__r {
    margin-right: unset;
  }
}
.footer .footer__down .footer__r .footer__list {
  display: flex;
  justify-content: space-evenly;
  color: #f5f5f5;
  margin-right: 50px;
}
@media screen and (max-width: 620px) {
  .footer .footer__down .footer__r .footer__list {
    flex-wrap: wrap;
    justify-content: unset;
    align-items: flex-start;
    row-gap: 20px;
  }
}
@media screen and (max-width: 355px) {
  .footer .footer__down .footer__r .footer__list {
    flex-direction: column;
    margin-right: 20px;
  }
}
.footer .footer__down .footer__r .footer__list ul {
  margin: 0 50px;
}
@media screen and (max-width: 895px) {
  .footer .footer__down .footer__r .footer__list ul {
    margin: 0 10px;
  }
}
.footer .footer__down .footer__r .footer__list ul h6 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer .footer__down .footer__r .footer__list ul li {
  font-weight: 300;
  list-style-type: none;
  color: #9e9aa7;
  font-size: 15px;
  margin: 7px 0;
  cursor: pointer;
}
.footer .footer__down .footer__r .footer__list ul li:active {
  color: #2acfcf;
}
.footer .footer__down .footer__r .footer__social svg {
  cursor: pointer;
  margin: 0 10px;
}
.footer .footer__down .footer__r .footer__social path:active {
  fill: #2acfcf;
}
